<header class="header">

  <div class="overlay">

    <div class="container">

      {% if page.slug != 'home' %}
        <h1 class="title">
          <a href="{{ site.baseurl }}/">{{ site.title }}</a>
       </h1>
      {% endif %}

      <nav class="navbar">
        <a href="#" class="menu-icon">
          <span></span>
          <span></span>
          <span></span>
        </a>

        <ul class="nav">
          <li><a href="{{ site.navbar.home.url | prepend: site.baseurl }}">{{ site.navbar.home.title }}</a></li>
          <li><a href="{{ site.navbar.about.url | prepend: site.baseurl }}">{{ site.navbar.about.title }}</a></li>
        </ul>
      </nav>
    </div>

    {% if page.slug == 'home' %}
      <h1 class="txt-center">
        <strong>{{ site.title }}</strong>
        <br/>
        <small>{{ site.description }}</small>
      </h1>
    {% endif %}

  </div>

</header>
